[Desktop Entry]
Name=Lightning
Comment=An intuitive Color Picker
Comment[fr]=Un Sélecteur de Couleurs intuitifs
Exec=com.github.jeysonflores.lightning
Icon=com.github.jeysonflores.lightning
Keywords=colorpicker;color;picker;selector;pipette;
Terminal=false
Type=Application
Categories=GTK;Utility;Graphics;Development;
