.toggle:dir(ltr){
	color: #595959;
}

.toggle:checked {
	border-color: #E5E5E5;
	background: #E5E5E5;
	color: black;
}

.toggle {
	margin-left: 3px;
	border: 0px;
	color: #595959;
}

.background-mode {
	background: white;
}

.formatbox-content {
	padding-top: 10px;
	padding-bottom: 10px;
}

.formatbox-copybutton {
	color: #595959;
}

.formatbox-copybutton:active {
	background: #f8f8f8;
	color: black;
}

.formatbox {
	background: #f8f8f8;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	border: 0px;
	border-color: #f8f8f8;
	margin-left: 20px;
	margin-right: 20px;
}

.formatbox-nav {
	padding-top: 10px;
}

.formatbox-stack {
	padding-top: 20px;
	padding-bottom: 20px;
}

.formatbox-label {
	font-weight: 600;
	font-family: monospace;
}

.color-picker-button {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 100px;
	margin-right: 100px;
}

.color-picked {
	padding-bottom: 80px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	box-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.12);
}

.recent-colors{
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 20px;
}

.color-button {
	border-width: 0px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 7px;
}

/*
.recent-colors{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.color-button {
	border-width: 0px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 20px;
}

.c1{

	background: #edb2f7;
}

.c2{
	background: #9ad5e5;
}
*/